<a href="https://colab.research.google.com/github/yuliant/sentimen_analisis_jne_knn/blob/main/sentimen_analisis_twitter_knn_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
#periksa data dan urutkan berdasarkan tanggal
csv = pd.read_csv('data_search.csv')
csv.sort_values(by="Tanggal", ascending=False).head(5)

,Unnamed: 0,Tanggal,Pengguna,Tweet,Sentimen
0,0,2023-02-14 14:34:29,ktaehyun__g,_ID tolong cek dm min,Netral
1,1,2023-02-14 14:32:53,sweebypie,ini aku 11kg karena kena volume. harusnya 8kg ...,Netral
2,2,2023-02-14 14:25:21,doyok__31,_ID Kapan sampe nya ke rumah saya ya,Netral
3,3,2023-02-14 14:24:32,kafie_ribedz,"Hai admin, masih di ngirim paket di jne rawaku...",Netral
4,4,2023-02-14 14:16:59,asiaticakjw,jne cargo emg mahal nder klo mau yg murah cb p...,Netral

# PROSES 2 - FILTERING

In [4]:
!pip install sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 209.7/209.7 KB 7.7 MB/s eta 0:00:00
Installing collected packages: sastrawi
Successfully installed sastrawi-1.0.1

In [5]:
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 126.0/126.0 KB 6.5 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [6]:
import matplotlib.pyplot as plt
import re
import string
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [7]:
csv.shape

(100, 5)

In [9]:
#menambahkan kolom baru yaitu "label"
#Netral = 0
#Positif = 1
#Negatif = 2

sentimen = []
for index, row in csv.iterrows():
  if row['Sentimen'] == 'Netral':
    sentimen.append('0')
  elif row['Sentimen'] == 'Positif':
    sentimen.append('1')
  else:
    sentimen.append('2')

csv['label'] = sentimen
csv.head(15)

,Unnamed: 0,Tanggal,Pengguna,Tweet,Sentimen,label
0,0,2023-02-14 14:34:29,ktaehyun__g,_ID tolong cek dm min,Netral,0
1,1,2023-02-14 14:32:53,sweebypie,ini aku 11kg karena kena volume. harusnya 8kg ...,Netral,0
2,2,2023-02-14 14:25:21,doyok__31,_ID Kapan sampe nya ke rumah saya ya,Netral,0
3,3,2023-02-14 14:24:32,kafie_ribedz,"Hai admin, masih di ngirim paket di jne rawaku...",Netral,0
4,4,2023-02-14 14:16:59,asiaticakjw,jne cargo emg mahal nder klo mau yg murah cb p...,Netral,0
5,5,2023-02-14 14:05:57,JNECare,"Sama-sama kak, Terima kasih telah menggunakan ...",Positif,1
6,6,2023-02-14 14:04:31,FicoFey,"Iya e, akhire kyknya tetep pake JNE ato pos kilat",Netral,0
7,7,2023-02-14 14:02:56,hmmitha,jne ga jls anjir,Netral,0
8,8,2023-02-14 14:02:53,JNE_RPW,FORMAT! #JNEConfess for : -uname tujuan- -isi ...,Netral,0
9,9,2023-02-14 13:57:56,Trililililily,"Nmax diserempet mobil box jne, untung kaga tum...",Netral,0
10,10,2023-02-14 13:56:55,DoYourThangWhMe,RT : wts skintific mugwort clay stick new (bar...,Positif,1
11,11,2023-02-14 13:54:18,ikul101,"Hadeh bener"" Dah udh 6 hari ga nyampe"", barang...",Netral,0
12,12,2023-02-14 13:53:58,JoPermadi,"_ar Ya bs juga bgt ,klu komparasinya ke kurir ...",Netral,0
13,13,2023-02-14 13:51:32,sweebypie,udah kayak ngirim ke luar negeri aja jne monyet,Netral,0
14,14,2023-02-14 13:45:39,JNE_DPS,Halo warga Baliüå∏!! Mau kirim paket tapi bayar ...,Netral,0

In [10]:
csv.shape

(100, 6)

In [11]:
#menghilangkan kolom yang tidak dipakai

csv_data = csv.copy()
csv_data = csv.drop(columns=['Tanggal', 'Pengguna', 'Sentimen'])
csv_data.head()

   Unnamed: 0                                              Tweet label
0           0                              _ID tolong cek dm min     0
1           1  ini aku 11kg karena kena volume. harusnya 8kg ...     0
2           2               _ID Kapan sampe nya ke rumah saya ya     0
3           3  Hai admin, masih di ngirim paket di jne rawaku...     0
4           4  jne cargo emg mahal nder klo mau yg murah cb p...     0

In [13]:
csv_data.shape

(100, 3)

In [22]:
x = csv_data.iloc[:, 1].values
y = csv_data.iloc[:, 2].values

In [23]:
#mengambil 20% data untuk data test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [24]:
x_train

array(['Paket saya juga sudah 5 hari belum jalan. Masih di daerah asal pengiriman statusnya. . Makin lama jne makin ga layak di pertahankan.',
       'Oke, kirim nya pake JNE ya',
       'Hai admin, masih di ngirim paket di jne rawakuning? Hehehe',
       'Punya ol shop? Tp suka males antri kirim paket? Kami solusinya. Spesialis jemput paket via JNE di Kota Depok , WA/call di 0856 8000027',
       '_ID Kelanjutannya dikenalin sm mas2 yg kerja di madukoro wkwk pake orang dalem deh akhirnya, sad but true',
       'Aneh ya, gak masuk akal üòÅ. Baru baru ini aja begitu, dulunya enggak..sesuai di web jne lebih mahal dikit lah masih masuk logika..wajar kalau diup dikit. Tapi kalau sekarang gak masuk akal, cuma di aja bisa gitu ü§≠ü§≠ü§≠. Tq min, mungkin di suruh pindah ke ekspedisi lain.',
       'Iya e, akhire kyknya tetep pake JNE ato pos kilat',
       'Hai kak, akun Tokopedia Seller saya diretas sejak Jumat 10 Februari 2023 lalu Si penyusup sudah menarik Saldo Tokopedia sebesar sekitar Rp. 8 juta Awalnya lewat pesan sebagai kurir JNE, lalu suruh download APK Setelah itu ada penarikan #tokopedia #penipuan #peretasan #hacker https://t.co/MyV856Eug7',
       'Harian Jogja bersama JNE Express akan menggelar ‚ÄúTalk Show Sinergi Ekspedisi dan UMKM Sukseskan Magelang Keren‚Äù pada: Rabu, 15 Februari 2023 Pukul 09.00 - 10.00 WIB',
       '_Friends Iya jne trucking 13 hari, meanwhile pake jnt cargo 6 harian nyampe sama-sama dari jawa hahaha',
       'paxel max jam 10 dari sda, nyampe malang hari yang sama abis maghrib, atau jne yes kalo mau yang sehari, drop pagi juga ke gerainya, kalo jnt ga ada kilat, jadi belom tentu sehari nyampe',
       '{ Memandang ngab jne penuh cinta } PAMER DULUUU aku dapet hadiah made by love by pacar aslinya Eyri. Walau diduain tapi hubungan aku dan Jeanne sang pelukis legendaris tetep bisa akur‚Ä¶ mwah‚Ä¶ kisu. &lt;3 https://t.co/yu5oZMwuRN',
       'Percuma bayar mahal mahal pake jne yes claimnya satu hari sampai . Ternyata gak sampe sampe anjir RUGI GUEEEEEE. Maksud hati biar cpt sampe karna itu barang urgent bisabisa nya gasampe juga mending pake reguler yawllah kesel gimna sih layanannya _ID',
       'Harian Jogja bersama JNE Express akan menggelar ‚ÄúTalk Show Sinergi Ekspedisi dan UMKM Sukseskan Magelang Keren‚Äù pada:',
       'JNE asu',
       'Gunakan Debit Mandiri dan BRI sebagai pembayaran di JNE Kalimantan Blitar, Mudah dan Praktis.#JNEBLITAR',
       '_ID Nih Perusahaan Lo Dicatut Buat Penipuan, Be Aware Ya Gaess https://t.co/hpc2Dtd2BU',
       'Kira paket JNE untukku, ternyata dari pacar kakak untuk kakak. Anjay langsung kena mental coeg. Orang-orang pung valentine ni bikin gigi asam betul eü§£üôèüèª',
       'Oke, kirim nya pake JNE ya',
       'hai JNE paket saya ke SULUT kok belum sampai"',
       'ini aku 11kg karena kena volume. harusnya 8kg kalau ga kena. jne asu bgt ya Allahüòî',
       'Oke, kirim nya pake JNE ya',
       'Itu nama layanan JNE yg lumayan murah. Kalau pakai reg agak mahal karena berat',
       'lama bgt jne tolol',
       'jne cargo emg mahal nder klo mau yg murah cb pake sentral kargo üëçüèºüëçüèº',
       'Di Jual jersey seharga 125rb sudah ongkir via JNE, kalau mau COD di Lbk.Bulus , Ciputat, Depok (Nama dan Nomor punggung cp : 081314406127)',
       'Bukti Nomor Resi JNE &amp; Paket Yang Sudah Sampai üöö Jasa pengiriman via JNE. üèß Pembayaran via transfer. üö´ Kami tidak melayani COD üôèüèª ‚òé 0821 3301 5657 Cek Bukti Nomor Resi JNE &amp; Paket Yang Sudah Sampai üëáüèª https://t.co/6CvcDa9EFh Daftar Menu üëáüèª https://t.co/F43yRKMwwU https://t.co/DiXyPZZjZM',
       'RT : Sicepat lelet bgt sih, orang jadi males pake sicepat. Gue kalo di Shopee mending Shopee express/JNT. Tokped pake anteraja sam‚Ä¶',
       'bisakah jne cod',
       'Sama-sama kak, Terima kasih telah menggunakan layanan JNE tetap setia menggunakan jasa JNE ya kak :) Thanks - Ari -',
       'Twitter, show your magic üò• Akun Tokopedia saya diretas, ada 8 kali penarikan Saldo ke 3 rekening yang berbeda, dengan jumlah sekitar Rp. 8 juta Kronologis: 1. Jumat, 10 Februari 2023 Pesan Whatsapp masuk, mengatasnamakan JNE, dengan Foto Profil JNE #tokopedia #hacker https://t.co/L04r1Sj5s8',
       'RT : 14 Februari Sebagai tanda cinta, kasih dan sayang saya kpd para pegiat literasi, pengelola Taman Bacaan Masyarakat (TBM), ha‚Ä¶',
       '_ID tolong cek dm min',
       '#WTS PP di pict, semua 150k, COD FX / JNE.. https://t.co/2HUsB7MVb9',
       'Aku biasa kirim invoice, berkas MoU dan lain-lain pakai JNE sih',
       '#Karanganyar https://t.co/bG2RgeHnli #JNE Karanganyar #asinua üëç #karanganyar https://t.co/SRkjt5pA9H',
       'Hadeh bener" Dah udh 6 hari ga nyampe", barang stuck disitu" Aja, padahal tinggal dikirim ke rumah gua doang itu, ga lagi" Dah pake jne https://t.co/xNgbiHKtSD',
       'Narasumber : 1.Wakil Wali Kota Magelang, K.H.Drs.M.Mansyur, https://t.co/XReM2kufIG. 2.Kepala Cabang JNE Magelang, Bambang Kristiady Disiarkan langsung dari Joglo Animal Raiding, Taman Kyai Langgeng Kota Magelang.',
       'Halooo _ID paket dikirim dari selasa kemarin pakai jne yes dan belum sampai juga kok cuman mau diganti rugi biaya pengirimannya aja? Loh saya sudah rugi waktu buat nungguin sama rugi biaya lah. Kenapa cuman ongkos kirimnya aja?',
       'Mauu cepattt jne in kalau perlu yg anterin dia https://t.co/5bYJr7iH2q',
       'RT : wts skintific mugwort clay stick new (baru), ori, masih segel üí∏ 75.000 yaaa dijual karena salah beli + lg bu:" üìåpengiri‚Ä¶',
       'Banyak produk Batre &amp; Powerbank di toko kami silahkan datang ke toko kami, untuk luar kota kirim via JNE',
       'IKLANlaku JUAL BATERAY, CHARGER,LCD/LED LAPTOP MURAH BERGARANSI CP WA 085728557858 PIN 7456B44F kirim2 via jne, wahana, pahala',
       'Performa nya menurun Dulu awal2 bnr2 gercep, tp makin ksni makin sering ngambil ke gudang nya yg mana jauh. Buatku andalan tetep jnt dan jne',
       'MENFESS 24 JAM! PAKET KILAT! FREE FOR RP! JUST DM ! PASTI DI POST',
       'Paling bener JNE pake pengiriman reguler sj.',
       'WTS Nike Air Rift üöö 3 Maret Excl. JNE (dari Bekasi/Bandung) Stok promo cepet habis yaa üíµBlack, Pink 1,580k (EU 36.5, 43) üíµWhite 1,580k (EU 35, 42, 43) üíµ Grey 1,580k (EU 35, 36, 42, 43) tags. jastipjepang jastipjapan jasa titip belanja jepang wtb sepatu shoes https://t.co/DasD0uILTn',
       'Jadi di paketin dulu pake JNE ya?',
       'Halo warga Baliüå∏!! Mau kirim paket tapi bayar ongkirnya ditempat tujuan? Bisa banget dong di JNE!!ü§©ü§©JNE ada layanan COD Ongkir yang bisa langsung #TemanJNE gunakan lohh.... Cuss langsung ke Kantor JNE terdekat !!! Kirim paket? JNE ajaaü•∞ #JNE #ConnectingHappiness #JNE32Tahun https://t.co/gQs9iFXE1p',
       'Gw sdh complain ke . Katanya akan investigasi ke kurir. Kita lihat apakah ada kemajuannya. JNE sama sekali gak update sejak 10 Februari. Janjinya 13 Februari nyampe. Gw butuh banget itu barang. Tidak ada keterangan sama sekali dari JNE.',
       'Jam operasional JNE Kalimantan 08.00-20.00 setiap hari, info CS: 0342-803071/085790510039 Pin 21239085. #JNEBLITAR',
       'Utk rekan2 perusahaan/online shop yang mau langganan di JNE Abadi Sejahtera, kami jemput kirimannya &amp; ada penawaran menarik lainnya.',
       '_ID Kirim ke alamat biasa ya',
       'WTS makeup dan skincare last stock yg masih baru with box. Dom Malang bisa COD, paymen by Dana/BCA. Shipping by J&amp;T atau JNE yakk #zonauangÔ∏è #zonajajan #zonaba #zonaBU https://t.co/ry6tsfYjh5',
       'WTS makeup dan skincare last stock yg masih baru with box. Dom Malang bisa COD, paymen by Dana/BCA. Shipping by J&amp;T atau JNE yakk #zonauangÔ∏è #zonajajan #zonaba #zonaBU https://t.co/W0h1sv5BTz',
       'RT : 14 Februari Sebagai tanda cinta, kasih dan sayang saya kpd para pegiat literasi, pengelola Taman Bacaan Masyarakat (TBM), ha‚Ä¶',
       '_ID Nih Perusahaan Lo Dicatut Buat Penipuan. Hati2 gaesss https://t.co/4Y7TZHf4Mx',
       '#WTS PP di pict, semua 150k, COD FX / JNE.. https://t.co/kKwT8AFEM3',
       '#WTS PP GC HS, yg set harus set, COD Fx / JNE.. https://t.co/i1CeEqxxXJ',
       'Jne in aje',
       '#jneburuk #jne _ID apa apaan ini, pembelian 12 feb, service next day, sampai hari ini blm juga sampai. apa mksdnya ganti no resi segala?? https://t.co/40IM3TG0ZP',
       '_ID cek dm min',
       'Narasumber : 1.Wakil Wali Kota Magelang, K.H.Drs.M.Mansyur, https://t.co/XReM2kufIG. 2.Kepala Cabang JNE Magelang, Bambang Kristiady Disiarkan langsung dari Joglo Animal Raiding, Taman Kyai Langgeng Kota Magelang.',
       'ayo yang masih butuh pengiriman via JNE Depok silahkan WA/call kami di 0821 70000323... bisa kami pick up loh dan gratis :)',
       '#WTS PP ALL Member Langka, COD FX / JNE. https://t.co/ZrmGAUkq8y',
       'Hai min saya ingin lapor perihal pelayanan CS JNE Pamekasan. Terlepas dari masalah yang ada, cara bicara petugas sangat tidak ramah https://t.co/tagHd3mKyP',
       '_29 JNE gak sih?',
       '_ar Ya bs juga bgt ,klu komparasinya ke kurir spt jne , tp ke kurir lain ya tetap ga bs bersaing om dgn tarif yg semi subsidi bakar duit, langkah yg ga bs diikuti pos indo.',
       'RT : 14 Februari Sebagai tanda cinta, kasih dan sayang saya kpd para pegiat literasi, pengelola Taman Bacaan Masyarakat (TBM), ha‚Ä¶',
       'Untuk kiriman yg menjangkau seluruh kecamatan di Indonesia gunakan service JNE REGULAR..',
       'masa paket jkt-mlg aja sampe semingguan sendiri woi ü§¨ü§¨ü§¨ cek di resi terakhir di blg nobody at home pdhl jam segitu ada di rmh gilak kacau bgt jne mlg',
       'Harian Jogja bersama JNE Express akan menggelar ‚ÄúTalk Show Sinergi Ekspedisi dan UMKM Sukseskan Magelang Keren‚Äù pada: Rabu, 15 Februari 2023 Pukul 09.00 - 10.00 WIB',
       'Syebel bet sama JNE üò≠üò≠üò≠üò≠',
       'Apapun Kirimannya, Pastikan kirimnya melalui JNE Kalimantan Blitar. Trace &amp; Tracking sampe tuntas.#JNEBLITAR',
       'Nmax diserempet mobil box jne, untung kaga tumbang hamba yawlaaa..',
       '#TemanJNE sudah kirim hadiah untuk orang tersayang hari ini? JNE Denpasar X Mr.Kurir siap anterin paket kamu untuk orang tersayangü§ó Jangan lupa sebarkan kebahagiaan di Hari Kasih Sayang ini yaü•∞ #JNE #ConnectingHappiness #JNE32Tahun #JNEBangkitBersama #JNEDenpasar https://t.co/Ak9LeGLVeO',
       'Rabu, 15 Februari 2023 Pukul 09.00 - 10.00 WIB Narasumber : 1.Wakil Wali Kota Magelang, K.H.Drs.M.Mansyur, https://t.co/XReM2kufIG. 2.Kepala Cabang JNE Magelang, Bambang Kristiady Disiarkan langsung dari Joglo Animal Raiding, Taman Kyai Langgeng Kota Magelang.',
       'maaf min mau tanya kok ongkir di marketplace itu bisa beda jauh banget ya untuk jne cargonya. Berikut saya lampirkan perbedaanya, jika dicek lewat MP tokped, web jne dan aplikasi shopee berat sama. Kok bisa ongkirnya di diluar nalar begitu ya. Tq üòä https://t.co/RiTQxe21LX',
       "tadi pihak JNE telepon saya, katanya transaksinya (di Shopee) di-cancel aja. Tapi nanti penjualnya dapet kompensasi gak tuh? Wong barangnya 'ngilang' di gudangnya JNE",
       'Demi JTR kenapa lama sii tumben banget? _ID https://t.co/kfQj9xpjMz'],
      dtype=object)

In [25]:
len(x_train)

80

In [26]:
len(x)

100

In [27]:
x_test

array(['MANA BISA DIKASIH SEGEL FRAGIL. DIKIRA PAKET JNE',
       'Sangat tidak disarankan memang pakai jasa Next Day _ID üòÖüòÖüòÖ',
       '_ID Kapan sampe nya ke rumah saya ya',
       'Bila tim pick up JNE Abadi Sejahtera kurang berkenan atau kurang sopan dalam pelayanannya bisa mention kami utk ditindak lanjuti,terima kasih',
       'di bandungs aya kedai jiga warpopskay teu yes, jne euyyy',
       'halo _ID, jne ada jasa packing barang ga ya? misalnya packing gitar pake kardus gitar + kayu.',
       '_chnle jne dongs',
       'Awalnya Rp 6.049.000 dapet potongan 400k jadi Rp 5.762.080 Ini udah include Biaya Asuransi (Meminimalisir kalo terjadi apa2) dan Include Biaya Pengiriman Jakarta ke Surabaya (Kirim barang elektronik pake JNE aja) Bisaa juga Checkout Packaging Kayu 30k biar lebih aman',
       'Seru amat ambil almet trs foto", yg almetnya dipaketin jne could never (soalnya pas oplen dah abis hype nya üëéüèª)',
       '_ID Min cek dm',
       'Petugas Cash Counter kami akan selalu melakukan pemeriksaan setiap paket yg akan dikirimkan sebelum barang diproses.#JNEBLITAR',
       'RT _16: Mohon RT / Like, thank uüòÄüôèüèº üìö Dijual Buku Import Preloved üìö ‚Ä¢ pengiriman dari Surabaya ‚Ä¢ original / asli ‚Ä¢ koleksi prib‚Ä¶',
       '#WTS PP Kalender 2016 di pict. CP di bio. COD FX / JNE. Thx. https://t.co/MlNEGv43rP',
       'udah kayak ngirim ke luar negeri aja jne monyet',
       'jne ga jls anjir',
       'huhuu akuu deket sm jnt,jne,sicepat,tiki,pos tpi ak dom solo nderrüò≠üò≠ tpii misal minatt bolee dm yaaüòÉüòÉ',
       '_ID kenapa saya belum terima paket dengan nomer resi 300430001539823 sampai saat ini?',
       'saya pesan pakai JNE YES tapi disini tulisannya paket sudah diterima tapi nyatanya saya belum menerima apa-apa? ini urgent loh saya pake JNE YES. saya sudah hubungi customer service katanya paket akan diinvestigasi, jaminan untuk saya kalau besok belum sampai apa? tidak https://t.co/0pcMp1MAVC',
       'wts skintific mugwort clay stick new (baru), ori, masih segel üí∏ 75.000 yaaa dijual karena salah beli + lg bu:" üìåpengiriman dari semarang üìåpayment e-wallet/tf bank bri üìåbisa shopee gratis ongkir NON extra üìåjasa kirim JNE/J&amp;T ongkir ditanggung pembeli https://t.co/oDj4wypMGQ',
       'FORMAT! #JNEConfess for : -uname tujuan- -isi mention confess- -nama pena-'],
      dtype=object)

In [28]:
len(x_test)

20

In [29]:
#preprocessing

nltk.download('punkt')
nltk.download('stopword')
nltk.download('wordnet') #stemming

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Error loading stopword: Package 'stopword' not found in
[nltk_data]     index
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [32]:
csv_data['Tweet']

0                                 _ID tolong cek dm min
1     ini aku 11kg karena kena volume. harusnya 8kg ...
2                  _ID Kapan sampe nya ke rumah saya ya
3     Hai admin, masih di ngirim paket di jne rawaku...
4     jne cargo emg mahal nder klo mau yg murah cb p...
                            ...
95                                       _ID Min cek dm
96    #TemanJNE sudah kirim hadiah untuk orang tersa...
97    WTS makeup dan skincare last stock yg masih ba...
98    WTS makeup dan skincare last stock yg masih ba...
99    Hai kak, akun Tokopedia Seller saya diretas se...
Name: Tweet, Length: 100, dtype: object

In [38]:
#cleaning
#remove url
csv_data['Tweet'] = csv_data['Tweet'].str.replace('https\S',' ',case=False)

#merubah teks menjadi huruf kecil
csv_data['Tweet'] = csv_data['Tweet'].str.lower()

#remove mention
csv_data['Tweet'] = csv_data['Tweet'].str.replace('@\S+',' ',case=False)

#remove hastag
csv_data['Tweet'] = csv_data['Tweet'].str.replace('#\S+',' ',case=False)

#remove next character
csv_data['Tweet'] = csv_data['Tweet'].str.replace("\'\w+",' ',case=False)

#remove punctuation
csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'[^\w\s]',' ',case=False)

#remove underscore
csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'[\W_]',' ',case=False)

#remove number
csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'\w*\d+\w*',' ',case=False)

#remove spasi berlebih
csv_data['Tweet'] = csv_data['Tweet'].str.replace('\s(2)',' ',case=False)

<ipython-input-38-6815028165d3>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace('https\S',' ',case=False)
<ipython-input-38-6815028165d3>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace('@\S+',' ',case=False)
<ipython-input-38-6815028165d3>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace('#\S+',' ',case=False)
<ipython-input-38-6815028165d3>:15: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace("\'\w+",' ',case=False)
<ipython-input-38-6815028165d3>:18: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'[^\w\s]',' ',case=False)
<ipython-input-38-6815028165d3>:21: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'[\W_]',' ',case=False)
<ipython-input-38-6815028165d3>:24: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace(r'\w*\d+\w*',' ',case=False)
<ipython-input-38-6815028165d3>:27: FutureWarning: The default value of regex will change from True to False in a future version.
  csv_data['Tweet'] = csv_data['Tweet'].str.replace('\s(2)',' ',case=False)

In [39]:
csv_data['Tweet']

0                                  id tolong cek dm min
1     ini aku   karena kena volume  harusnya   kalau...
2                   id kapan sampe nya ke rumah saya ya
3     hai admin  masih di ngirim paket di jne rawaku...
4     jne cargo emg mahal nder klo mau yg murah cb p...
                            ...
95                                        id min cek dm
96      sudah kirim hadiah untuk orang tersayang har...
97    wts makeup dan skincare last stock yg masih ba...
98    wts makeup dan skincare last stock yg masih ba...
99    hai kak  akun tokopedia seller saya diretas se...
Name: Tweet, Length: 100, dtype: object

In [41]:
#tokenizing

from nltk.tokenize import word_tokenize

x = csv_data.iloc[0]
print(nltk.word_tokenize(x['Tweet']))

['id', 'tolong', 'cek', 'dm', 'min']

In [42]:
def identify_tekens(row) :
  text = row['Tweet']
  tokens = nltk.word_tokenize(text)
  token_words = [w for w in tokens if w.isalpha()]
  return token_words

csv_data['Tweet'] = csv_data.apply(identify_tekens, axis=1)
csv_data.Tweet

0                            [id, tolong, cek, dm, min]
1     [ini, aku, karena, kena, volume, harusnya, kal...
2          [id, kapan, sampe, nya, ke, rumah, saya, ya]
3     [hai, admin, masih, di, ngirim, paket, di, jne...
4     [jne, cargo, emg, mahal, nder, klo, mau, yg, m...
                            ...
95                                   [id, min, cek, dm]
96    [sudah, kirim, hadiah, untuk, orang, tersayang...
97    [wts, makeup, dan, skincare, last, stock, yg, ...
98    [wts, makeup, dan, skincare, last, stock, yg, ...
99    [hai, kak, akun, tokopedia, seller, saya, dire...
Name: Tweet, Length: 100, dtype: object

In [43]:
#stemming (pembentukan kata dasar)
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
stemming = PorterStemmer()

In [44]:
def stem_list(row) :
  text = row['Tweet']
  stem = [stemming.stem(word) for word in text]
  return(stem)

csv_data['Tweet'] = csv_data.apply(stem_list, axis=1)
csv_data.Tweet

0                            [id, tolong, cek, dm, min]
1     [ini, aku, karena, kena, volum, harusnya, kala...
2           [id, kapan, samp, nya, ke, rumah, saya, ya]
3     [hai, admin, masih, di, ngirim, paket, di, jne...
4     [jne, cargo, emg, mahal, nder, klo, mau, yg, m...
                            ...
95                                   [id, min, cek, dm]
96    [sudah, kirim, hadiah, untuk, orang, tersayang...
97    [wt, makeup, dan, skincar, last, stock, yg, ma...
98    [wt, makeup, dan, skincar, last, stock, yg, ma...
99    [hai, kak, akun, tokopedia, seller, saya, dire...
Name: Tweet, Length: 100, dtype: object

In [45]:
#stopword (menghapus kata yang tidak penting)
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stops = set(stopwords.words('indonesian'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [47]:
csv_data.head(15)

    Unnamed: 0                                              Tweet label
0            0                         [id, tolong, cek, dm, min]     0
1            1  [ini, aku, karena, kena, volum, harusnya, kala...     0
2            2        [id, kapan, samp, nya, ke, rumah, saya, ya]     0
3            3  [hai, admin, masih, di, ngirim, paket, di, jne...     0
4            4  [jne, cargo, emg, mahal, nder, klo, mau, yg, m...     0
5            5  [sama, sama, kak, terima, kasih, telah, menggu...     1
6            6  [iya, e, akhir, kyknya, tetep, pake, jne, ato,...     0
7            7                               [jne, ga, jl, anjir]     0
8            8  [format, for, unam, tujuan, isi, mention, conf...     0
9            9  [nmax, diserempet, mobil, box, jne, untung, ka...     0
10          10  [rt, wt, skintif, mugwort, clay, stick, new, b...     1
11          11  [hadeh, bener, dah, udh, hari, ga, nyamp, bara...     0
12          12  [ar, ya, bs, juga, bgt, klu, komparasinya, ke,...     0
13          13  [udah, kayak, ngirim, ke, luar, negeri, aja, j...     0
14          14  [halo, warga, bali, mau, kirim, paket, tapi, b...     0

In [48]:
csv_data['label'].value_counts()

0    87
1    10
2     3
Name: label, dtype: int64

#PROSES 3 - TERM WEIGTHING

In [84]:
#menghitung vector
def List_function(n):
  list_array = np.arange(1,n+1)
  return(list_array)

from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

tfidfvectorizer = CountVectorizer(analyzer='word')
tfidf_wm = tfidfvectorizer.fit_transform(csv['Tweet'])
tfidf_tokens = tfidfvectorizer.get_feature_names()
df_tfidfvect = pd.DataFrame(data = tfidf_wm.toarray(), index=List_function(100))
print("\nTF-IDF Vectorizer\n")
print(df_tfidfvect)

TF-IDF Vectorizer

     0    1    2    3    4    5    6    7    8    9    ...  874  875  876  \
1      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5      0    0    0    0    0    0    0    0    0    0  ...    0    0    1
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
96     0    0    0    0    0    0    0    0    0    0  ...    0    0    0
97     0    0    0    0    0    0    0    0    0    0  ...    0    0    0
98     0    0    0    0    0    0    0    0    0    0  ...    0    0    1
99     0    0    0    0    0    0    0    0    0    0  ...    0    0    1
100    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

     877  878  879  880  881  882  883
1      0    0    0    0    0    0    0
2      0    0    0    0    0    0    0
3      0    0    0    0    0    0    0
4      0    0    0    0    0    0    0
5      0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
96     0    0    0    0    0    0    0
97     0    0    0    0    0    0    0
98     0    0    1    1    1    1    0
99     0    0    1    1    1    1    0
100    0    0    0    0    0    0    0

[100 rows x 884 columns]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [85]:
#mengubah menjadi vector term

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_cv = cv.fit_transform(x_train)
X_test_cv = cv.transform(x_test)

In [87]:
X_test_cv[1:1]

<0x752 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [88]:
#menggunakan perhitungan TF-IDF
from sklearn.model_selection import train_test_split

x = csv_data['label']
y = csv_data['label']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [89]:
x_train

90    0
1     0
5     1
89    0
0     0
     ..
87    0
7     0
64    0
39    0
86    0
Name: label, Length: 80, dtype: object

In [90]:
len(x_train)

80

In [91]:
x_test

33    1
12    0
37    0
41    0
79    1
66    0
48    0
10    1
92    1
59    0
23    0
62    0
67    0
60    0
95    0
47    0
63    0
40    0
70    0
76    1
Name: label, dtype: object

In [92]:
len(x_test)

20

#PROSES 4 - KLASIFIKASI ALGORITMA K-NN

In [93]:
#pembuatan model KNN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train_cv, y_train)

KNeighborsClassifier(n_neighbors=3)

In [94]:
#prediksi menggunakan data test
y_pred = classifier.predict(X_test_cv)
print(y_pred)

['0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0'
 '0' '0']

In [97]:
from sklearn.metrics import classification_report, confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)
print(cm)
print(cr)

[[15  0]
 [ 5  0]]
              precision    recall  f1-score   support

           0       0.75      1.00      0.86        15
           1       0.00      0.00      0.00         5

    accuracy                           0.75        20
   macro avg       0.38      0.50      0.43        20
weighted avg       0.56      0.75      0.64        20

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))